head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
}
body{
    background-color: beige;
    padding:5%;
}
p3{
    font-size:x-large;
    border-style:dotted;
}
p2{
    text-decoration: aqua;
}
p1{
    text-transform: initial;
    white-space: nowrap; 
    width: 200px; 
    border: 1px solid #5a29af;
    overflow: hidden;
    text-overflow: clip;
    
}
